<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>day03</display-name>

    <!-- 创建一个Servlet实例 -->
    <servlet>
        <servlet-name>servletDemo1</servlet-name>
        <servlet-class>com.itcast.servlet.ServletDemo1</servlet-class>
        <!-- 数值越小优先级越高，不能为0 -->
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- 给Servlet提供（映射）一个可供客户端访问的URI -->
    <servlet-mapping>
        <servlet-name>servletDemo1</servlet-name>
        <url-pattern>/demo1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletDemo2</servlet-name>
        <servlet-class>com.itcast.servlet.ServletDemo2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletDemo2</servlet-name>
        <url-pattern>/demo2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletDemo3</servlet-name>
        <servlet-class>com.itcast.servlet.ServletDemo3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletDemo3</servlet-name>
        <url-pattern>/demo3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletDemo4</servlet-name>
        <servlet-class>com.itcast.servlet.ServletDemo4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletDemo4</servlet-name>
        <url-pattern>/demo4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletDemo5</servlet-name>
        <servlet-class>com.itcast.servlet.ServletDemo5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletDemo5</servlet-name>
        <url-pattern>/demo5</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletConfigDemo1</servlet-name>
        <servlet-class>com.itcast.ServletConfig.ServletConfig</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConfigDemo1</servlet-name>
        <url-pattern>/servlet/scd1</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>2.html</welcome-file>
    </welcome-file-list>

</web-app>